<div class="container">
	<div class="row">
		<div class="col-md-6.col-md-offset-3">
			<ul class="notification-index-list">
				<% unless @notifications.empty? %>
					<% @notifications.each do |notification|%>
					<li> <% unless notification.read? %> (<i> جديد</i>) || <% end %> قام <%= full_name(notification.commenter) %> بالتعليق على الجوهر <%= link_to notification.gist.title , link_notification_path(notification) %> منذ <%= time_ago_in_words(notification.created_at) %> | <%= link_to "تعيين كمقروء", make_as_read_notification_path(notification)%></li>
					<% end %>
				<% else %>
					<div class="container">
						<div class="row">
							<div class="col l6 pull-l4 s12">
								<h4>لاتوجد تنبيهات!</h4>
							</div>
						</div>
					</div>
				<% end %>
			</ul>	
		</div>
	</div>

</div>


