<section id="presintaion" class="Gist-pres">
    <div class="container">
    <div class="row">
       <div class="heading text-center">
           <h1>جوهر</h1>
           <p>اكتب أكوادك البرمجية مرة واحدة فقط!</p>
       </div>
        <form class="col s12">
          <div class="row">
            <div class="file-gist-code">
               <div class="col s12">
                    <div class="gist-head">
                        <div class="input-field col l3 pull-l9 m6 s10">
                            <input class="fileName" type="text" placeholder="helloworld.rb">
                        </div>
                    </div>
                </div>
                <div class="col s12">
                   <div class="contianer">
                   <textarea class="snippets" style="display: none">
def greetings
    puts "hello world"
end</textarea>

                   </div>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</section>
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="feature1">
                <div class="col l6 s6">
                    <h4>احتفظ بالأكواد التي تكتبها لتستخدمها لاحقاً</h4>
                    <p>
                        لا داعي بعد الآن للبحث عن الميزة في كل مرة تريد استخدامها أو
                        إعادة اختراع العجلة في أحد مشاريعك، قم بإنشاء جوهر يحتوي الملفات التي ستحتاجها لاحقاً وعد إليها عند الحاجة.
                        تستطيع أيضاً إضافة وسوم خاصة بالجوهر لتتمكن من فرزها، كما تستطيع متابعة جواهر باقي المستخدمين والتعليق عليها.
                    </p>
                </div>
                <div class="col l6 s6">
                    <%= cl_image_tag("features1_vku3qa.png") %>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="creators" class="creators">
    <div class="container">
        <div class="row">
            <div class="head">
                <h3 class="text-center">من نحن</h3>
            </div>
            <div class="col l3 pull-l3 m3 pull-m3 s12">
               <div class="creator1 text-center">
                    <img src="https://avatars2.githubusercontent.com/u/4639990" width="100">
                    <div class="content">
                        <h5 class="text-center">محمد الحاج رحمون</h5>
                        <p class="text-center">
                           مهندس برمجيات مهتم بتطوير تطبيقات الويب وتصميم الـ APIs!
                        </p>
                        <div class="contact text-center">
                            <a href="https://www.facebook.com/mhdrahmoun"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://twitter.com/mhdrahmoun"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://github.com/mhdrahmoun"><i class="zmdi zmdi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 pull-l3 m3 pull-m3 s12">
              <div class="creator2 text-center">
                    <img src="https://avatars3.githubusercontent.com/u/20224740">
                    <div class="content">
                        <h5 class="text-center">عمرو عرنوس</h5>
                        <p class="text-center">
                            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق
                        </p>
                        <div class="contact text-center">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 pull-l4 m6 pull-m4 s6 pull-s4">
                 <p>هذا الموقع يعمل على خطة مجانية ضمن heroku :]</p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
  $('.snippets').each(function() {
    var editor = CodeMirror.fromTextArea(this, {
        lineNumbers: true,
        matchBrackets: true,
        readOnly: true
    });
});
</script>