<section id="presintaion" class="Gist-pres">
    <div class="container">
    <div class="row">
       <div class="heading text-center">
           <h2>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</h2>
           <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
       </div>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="description" type="text">
              <label for="description">شرح بسيط عن الكود</label>
            </div>
            <div class="file-gist-code">
               <div class="col s12">
                    <div class="gist-head">
                        <div class="input-field col l3 m6 s10">
                            <input class="fileName" type="text" placeholder="أسم الملف مع الصيغة">
                        </div>
                    </div>
                </div>
                <div class="col s12">
                   <div class="contianer">
                    <div id="editor"></div>
                   </div>
                </div>
                <div class="file-progress">
                    <div class="col s12">
                        <div class="col l4 m4 s12">
                            <a href="#" class="waves-effect waves-light btn-large sign-with-fb">حفظ</a>
                        </div>
                        <div class="col l4 m4 s12">
                            <a href="#" class="waves-effect waves-light btn-large sign-with-fb">حفظ خاص</a>
                        </div>
                        <div class="col l4 m4 s12">
                            <a href="#" class="waves-effect waves-light btn-large sign-with-fb">إضافة ملف</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</section>
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="feature1">
                <div class="col l6 s12">
                    <h4>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</h4>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                        إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
                    </p>
                </div>
                <div class="col l6 s12">
                    <img src="img/features1.png">
                </div>
            </div>
            <div class="feature2">
                <div class="col l6 s12">
                    <h4>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</h4>
                    <p>
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                        إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
                    </p>
                </div>
                <div class="col l6 s12">
                    <img src="img/features2.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="creators" class="creators">
    <div class="container">
        <div class="row">
            <div class="head">
                <h3 class="text-center">المبتكرين</h3>
            </div>
            <div class="col l3 pull-l3 m3 pull-m3 s12">
               <div class="creator1 text-center">
                    <img src="img/mh.jpg" width="100">
                    <div class="content">
                        <h5 class="text-center">محمد رحمون</h5>
                        <p class="text-center">
                            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق
                        </p>
                        <div class="contact text-center">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l3 pull-l3 m3 pull-m3 s12">
              <div class="creator2 text-center">
                    <img src="img/amr.jpg">
                    <div class="content">
                        <h5 class="text-center">عمرو عرنوس</h5>
                        <p class="text-center">
                            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق
                        </p>
                        <div class="contact text-center">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>