<div class="nested-fields">
<section id="presintaion" class="Gist-pres">
    <div class="container">
    <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="file-gist-code">
               <div class="col s12">
                    <div class="gist-head">
                        <div class="input-field col l3 pull-l9 m6 s10">
                             <%= f.text_field :name, placeholder: 'اسم الملف', class: 'fileName' %>   
                        </div>
                    </div>
                </div>
                <div class="col s12">
                   <div class="contianer">
                    <%= f.text_area :code, data:{val: f.object_name[-21..-1][/\[.*?\]/]}, class: "snippets" %>
                   </div>
                </div>
            </div>
          </div>
          <%= link_to_remove_association 'حذف الملف', f, class: 'remove_fields existing btn wave-effect' %>
        </div>
      </div>
    </div>
</section>
</div>

<script type="text/javascript">
	var value = $('.snippets').last().data('val');
    $('#gist_snippets_attributes_'+value+'_code').each(function() {
		var editor = CodeMirror.fromTextArea(this, {
		        lineNumbers : true,
		        matchBrackets : true
		    });
		});

    $(document).ready(function(){
      var val = $('.nested-fields').last().data('value');
      $('.remove_fields').click(function(){
        alert('هل أنت متأكد أنك تريد حذف الملف؟');
       });
});
</script>