<div class="row">
    <section class="gists col l12 s12" id="gists">
        <div class="container" style="width: 95%">
            <div class="row">
                <div class="col l3 m4 s11">
                   <div class="last-gists">
                       <div class="last-gist">
                           <h5 class="last-gist-title">
                               <a href="#">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</a>
                           </h5>
                           <div class="comment-files-count">
                               <i class="zmdi zmdi-comments">0</i>
                               <i class="zmdi zmdi-file">0</i>
                           </div>
                           <div class="tags">
                               <div class="tag">
                                   <a href="#">javascript</a>
                               </div>
                               <div class="tag">
                                   <a href="#">jQuery</a>
                               </div>
                           </div>
                       </div>
                       <div class="last-gist">
                           <h5 class="last-gist-title">
                               <a href="#">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</a>
                           </h5>
                           <div class="comment-files-count">
                               <i class="zmdi zmdi-comments">0</i>
                               <i class="zmdi zmdi-file">0</i>
                           </div>
                           <div class="tags">
                               <div class="tag">
                                   <a href="#">javascript</a>
                               </div>
                               <div class="tag">
                                   <a href="#">jQuery</a>
                               </div>
                           </div>
                       </div>
                       <div class="last-gist">
                           <h5 class="last-gist-title">
                               <a href="#">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</a>
                           </h5>
                           <div class="comment-files-count">
                               <i class="zmdi zmdi-comments">0</i>
                               <i class="zmdi zmdi-file">0</i>
                           </div>
                           <div class="tags">
                               <div class="tag">
                                   <a href="#">javascript</a>
                               </div>
                               <div class="tag">
                                   <a href="#">jQuery</a>
                               </div>
                           </div>
                       </div>
                       <div class="last-gist">
                           <h5 class="last-gist-title">
                               <a href="#">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</a>
                           </h5>
                           <div class="comment-files-count">
                               <i class="zmdi zmdi-comments">0</i>
                               <i class="zmdi zmdi-file">0</i>
                           </div>
                           <div class="tags">
                               <div class="tag">
                                   <a href="#">javascript</a>
                               </div>
                               <div class="tag">
                                   <a href="#">jQuery</a>
                               </div>
                           </div>
                       </div>
                   </div>
                </div> 
                <div class="col l8 m8 s12">
                    <div class="gist">
                        <div class="gist-head">
                           <div class="heading">
                                 <h5>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</h5>
                                <span class="edit-times"><a href="#">0</a></span>
                           </div>
                            <div class="gist-tools">
                                <a class="edit" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="link" href="#"><i class="zmdi zmdi-link"></i></a>
                                <a class="share" href="#"><i class="zmdi zmdi-share"></i></a>
                            </div>
                            <div class="coder-link">
                                صاحب الجوهر :
                                <a href="#">Amr Arnous</a>
                            </div>
                        </div>
                        <div class="files">
                            <div class="file">
                                <textarea disabled id="disabled">
                                    $( document ).ready(function(){
                                        $(".button-collapse").sideNav();
                                        // Open Search Modal On Click
                                        $(".search").click(function (){
                                            $(".box-search").fadeIn(500);
                                            $("body").css("overflow","hidden");
                                        });
                                        // Open Search Modal On Click
                                        $(".close").click(function () {
                                            $(".box-search").fadeOut(500);
                                            $("body").css("overflow","scroll");
                                        });
                                        $(".signin").click(function () {
                                           $(".signIn").fadeIn(500); 
                                            $("body").css("overflow","hidden");
                                        });
                                </textarea>
                            </div>
                            <div class="file">
                                <textarea disabled id="disabled">
                                    $( document ).ready(function(){
                                        $(".button-collapse").sideNav();
                                        // Open Search Modal On Click
                                        $(".search").click(function (){
                                            $(".box-search").fadeIn(500);
                                            $("body").css("overflow","hidden");
                                        });
                                        // Open Search Modal On Click
                                        $(".close").click(function () {
                                            $(".box-search").fadeOut(500);
                                            $("body").css("overflow","scroll");
                                        });
                                        $(".signin").click(function () {
                                           $(".signIn").fadeIn(500); 
                                            $("body").css("overflow","hidden");
                                        });
                                </textarea>
                            </div>
                        </div>
                        <div class="comments">
                           <div class="comment">
                                <div class="user-img">
                                    <img src="img/amr.jpg" width="100" height="100">
                                    <div class="comment-contain">
                                        <div class="comment-head">
                                            <h4>علق <span>عمرو عرنوس</span> منذ 3 دقائق</h4>
                                        </div>
                                        <div class="comment-content">
                                            <p>
                                                هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div class="comment">
                                <div class="user-img">
                                    <img src="img/mh.jpg" width="100" height="100">
                                    <div class="comment-contain">
                                        <div class="comment-head">
                                            <h4>علق <span>محمد رحمون</span> منذ 3 دقائق</h4>
                                        </div>
                                        <div class="comment-content">
                                            <p>
                                                هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>
</div>