<% unless @gists.empty? %>
	<%= render 'gists/gists', gists: @gists, gist: @gists.first, active: @gists.first.id %>

	<script type="text/javascript">
	  $('.last-gists').scrollTo('#active');
	</script>

<% else %>
	<div class="container">
	<div class="row">
		<div class="col-md-6.col-md-offset-3">
			<div class="container">
				<div class="row">
					<div class="col l6 pull-l4 s12">
						<h4>لاتوجد نتائج للبحث</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>