<p>أهلاً بكم في جوهر</p>

<p>&nbsp;نود التنويه إلى أن جوهر في مرحلة تجريبية وسنقوم بإضافة العديد من الميزات إلى الموقع على مراحل في الفترة المقبلة&nbsp;</p>

<p>لذلك&nbsp;نرحب بجميع ملاحظاتكم واستفساراتكم واقتراحاتكم للفترة القادمة&nbsp;ضمن صفحة&nbsp;<a href="https://www.jawhar.us/contacts/new">راسلنا</a>&nbsp;أو بشكل مباشر على العنوان التالي :</p>

<p>info@jawhar.us</p>

<p>-------------</p>

<p>فريق جوهر&nbsp;</p>
