<% unless current_user %>
<%= link_to new_user_session_path, class: 'waves-effect waves-light btn-large signin' do %>
        تسجيل الدخول
    <i class="zmdi zmdi-account"></i>
<% end %>
<%= link_to new_user_registration_path, class: 'waves-effect waves-light btn-large signup' do %>
        تسجيل
<i class="zmdi zmdi-account"></i>
<% end %>
<% else %>
	<li><%= link_to "إضافة جوهر جديد", new_gist_path %></li>
<% end %>
        

<li><a href="#">جميع الوصفات</a></li>
<li><a href="#">طريقة الإستخدام</a></li>